<!-- Chatbot scripts go here 
<script src="https://va.ecitizen.gov.sg/cfp/Script/Jquery/jquery.min.js" integrity="sha384-JUMjoW8OzDJw4oFpWIB2Bu/c6768ObEthBMVSiIx4ruBIEdyNSUQAjJNFqT5pnJ6" crossorigin="anonymous"></script> -->
<!-- <script src="https://va.ecitizen.gov.sg/cfp/va/mol/js/custom_widget.js" integrity="sha384-/bLATRNYRywpukcF97xfybON+aSjtpsJQyuwTQM3ZD5jfwE1Bu3iUom/KtatoQ0S" crossorigin="anonymous"></script>-->

<!-- NEW SCRIPT as at 27 Feb 2020 -->
<!-- <script src="https://va.ecitizen.gov.sg/cfp/Script/Jquery/jquery.min.js" ></script> -->
<!-- <script src="https://va.ecitizen.gov.sg/cfp/va/lab/js/custom_widget.js" integrity="sha384-/DM93S+kTR5tvwg2YLubG/jS2IBmFXjI0JdDF5vlMu+GaxVCqHlbV4Nll1H5PWcTb%" crossorigin="anonymous"></script> -->

<!-- Script added 19 Aug 2024, Intercom ticket #542 -->
<script src="https://console.apac.sabio.cloud/cfp2/va/LAB_lab-sg/js/custom_widget.js" crossorigin="anonymous"></script>
